body {
    background: #fcfcfc;
}

.tName {
    display: none;
}

footer {
    display: none;
}

footer p {
    color: #040000;
}

footer p a {
    color: #2a6081;
}

.content_header {
    margin-bottom: 15px;
}

.jumbotron {
    color: #ffffff;
    background-color: #869ead;
    background-image: url("{{FileBase}}logo.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    padding-top: 60px;
    background-position: left 50% top;
    box-shadow: 0 3px 10px 0 rgb(16 3 3 / 22%);
}

#pay_total {
    font-weight: bold;
    color: #2e2e2e;
}

.jumbotron h1 {}

.panel-default>.panel-heading {
    background-color: #2a6081;
    color: #eeeeee;
}

.panel-collapse {
    background-color: #eee;
}

#test_warning .panel-heading {
    background-color: #db4a4a;
    color: #eeeeee;
}

#test_warning .panel-body {
    background-color: #ffe7e7;
}